---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foobara.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 26 Feb 2025 19:35:08 GMT
      X-Backend:
      - F_Rails 35.160.216.211:443
      Etag:
      - '"94016f8cb756207376f240fe915d72b5"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Miles Georgi","built_at":"2025-02-26T00:00:00.000Z","created_at":"2025-02-26T19:35:08.244Z","description":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","downloads_count":97,"metadata":{"homepage_uri":"https://foobara.com","changelog_uri":"https://foobara.com/blob/main/CHANGELOG.md","source_code_uri":"https://foobara.com","rubygems_mfa_required":"true"},"number":"0.0.67","summary":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 3.4.0","prerelease":false,"licenses":["MPL-2.0"],"requirements":[],"sha":"b8d492c0b2b748630422f08f23b9948cb04867ec1739abf275db29d02fde3be2","spec_sha":"8158cc3c97e73e9c2f77967bd07cb8947d3ef6a1555b1f07055d79bb0aa2686a"},{"authors":"Miles
        Georgi","built_at":"2025-02-26T00:00:00.000Z","created_at":"2025-02-26T19:00:56.575Z","description":"A
        command-centric and discoverable software framework with a focus on domain
        concepts and abstracting away integration code","downloads_count":66,"metadata":{"homepage_uri":"https://foobara.com","changelog_uri":"https://foobara.com/blob/main/CHANGELOG.md","source_code_uri":"https://foobar[...]
